!!! 5
html(lang='en')
head
  meta(charset='utf-8')
  link(href='/stylesheets/error.css', rel='stylesheet')
  title Missing a Plugin
body
  -var userlink = '/downloads/'+ wrapper.from
  div.centered
    a(href= userlink)
      img(src='../images/missingplugin2.jpg', alt='Download Now')
                    

  