!!!
html
	head
		meta(charset="utf-8")
		title="You've been Phished"
	body
		h1 What Just Happened?
		h2 
			p Don't Worry. This is an authorized Phishing Simulation conducted by AUS University
			p This Simulation helps us understand, how Vulnerable we are to Phishing and helps us to prevent it in future.